@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (qTypes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var qType in qTypes)
            {
                <tr>
                    <td>@qType.Category</td>
                    <td>@qType.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;
    private QuestionType[] qTypes;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

        var triviaResult = await Http.GetFromJsonAsync<TriviaResult>("http://localhost:7071/api/GetQuestionTypes?amount=5&difficulty=easy");
        qTypes = triviaResult.Results;
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    public class TriviaResult{
        public QuestionType[] Results { get; set; }
    }


    public class QuestionType {
        public string Category { get; set; } 
        public string Type { get; set; }      
    }
}
